.DSEdge {
}

.gradientAnimation {
  background: linear-gradient(to right, white, red);
  background-size: 200% 100%;
  background-color: #000000;
  /* animation: gradientAnimation 2s linear infinite; */
}

@keyframes gradientAnimation {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}
